{% extends '_base.html' %}
{% block title %}Books{% endblock %}

{% block content %}
<section class="py-4 py-lg-5">
    <div class="container">
        <h1>Book lists</h1>
        <div class="row">
            {% for book in book_list %}
            <div class="col-md-4">
                <div class="card p-2">
                    <a href="{% url 'book_detail' book.pk %} ">{{ book.title }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}