{% extends '_base.html' %}
{% block title %}{{ book.title }}{% endblock %}

{% block content %}
<section class="py-4 py-lg-5">
    <div class="container">
        <div class="card p-2">
            <h1>{{ book.title }}</h1>
            <p>Author: {{ book.author }}</p>
            <p>Price: {{ book.price }}</p>
            {% if book.reviews.all %}
            <h3>Reviews</h3>
            {% endif %}
            <ul class="list-unstyled">
                {% for review in book.reviews.all %}
                <li>{{ review.review }} by <small class="text-muted">{{ review.author }}</small></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}